<!DOCTYPE HTML>
<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author-Book Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Author Management</h1>
<form autocomplete="off" action="#" th:action="@{/admin/manageAuthorBook}"  th:object="${authorDto}" method="post">
    <p>If update, introduce id: <input type="text" th:field="*{id}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    <p><input type="submit" name="createAuthorBtn" value="Create author" /></p>
    <p><input type="submit" name="updateAuthorBtn" value="Update author" /></p>
</form>
<br />

<form autocomplete="off" action="#" th:action="@{/admin/manageAuthorBook}" th:object="${authorDto}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p><input type="submit" name="deleteAuthorBtn" value="Delete author" /></p>
</form>
<br />


<form  action="#" th:action="@{/admin/manageAuthorBook/showAuthors}" method="post">
    <p><input type="submit" name="showAuthorsBtn" value="Show authors" /></p>
</form>
<br />

<h1>Book Management</h1>
<form autocomplete="off" action="#" th:action="@{/admin/manageAuthorBook}" th:object="${bookDto}"  method="post">
    <p>If update, introduce book id: <input type="text" th:field="*{id}" /></p>
    <p>Author id: <input type="text" th:field="*{authorId}" /></p>
    <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
    <p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Isbn Error</p>
    <p>Title: <input type="text" th:field="*{name}" /></p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title Error</p>
    <p>Genre: <input type="text" th:field="*{genre}" /></p>
    <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre Error</p>
    <p>Quantity: <input type="text" th:field="*{quantity}" /></p>
    <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Genre Error</p>
    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Genre Error</p>
    <p><input type="submit" name="createBookBtn" value="Create book" /></p>
    <p><input type="submit" name="updateBookBtn" value="Update book" /></p>
</form>
<br />

<form  action="#" th:action="@{/admin/manageAuthorBook}" th:object="${bookDto}"  method="post">
    <p>Book id: <input type="text" th:field="*{id}" /></p>
    <p><input type="submit" name="deleteBookBtn" value="Delete book" /></p>
</form>
<br />

<form action="#" th:action="@{/admin/manageAuthorBook/showBooks}" method="post">
    <p><input type="submit" name="showBooksBtn" value="Show books" /></p>
</form>
<br />


<form action="#" th:action="@{/admin/manageAuthorBook}" method="post">
    <select name="formatType">
        <option th:each="format : ${formats}" th:text="${format}"></option>
    </select>
    <p><input type="submit" name="generateReportsBtn" value="Generate reports" /></p>
</form>
<br />

<form th:action="@{/logout}" method="post">
    <input type="submit" name="logoutBtn" value="Log Out"/>
</form>

</body>
</html>