<!DOCTYPE HTML>
<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sale Summary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Sale Summary</h1>
<form action="#" th:action="@{/login}" th:object="${newSaleBookDto}" method="post">
    <p>Book id: <input type="text" th:field="*{bookId}" /></p>
    <p>Quantity: <input type="text" th:field="*{saleQuantity}" /></p>
    <p>Price: <input type="text" th:field="*{price}" /></p>
</form>
</body>
</html>